<form action="">
    <input type="text">
    <select>
        <option value="Cat">Cat</option>
        <option value="Dog">Dog</option>
        <option value="Other">Other</option>
    </select>
    <input type="submit" value="Add new animal">
</form>