@model Shelter.shared.Animal

@{
    ViewData["Title"] = Model.Name;
}

<div>
    <h1>Name: @Model.Name</h1>
    <h2>Checked: @Model.IsChecked</h2>
    <h2>Kid Friendly: @Model.KidFriendly</h2>
    <a asp-controller="Shelter" asp-action="Index"><button type="button">Go back</button></a>
</div>