@model Shelter.shared.Animal

@{
    ViewData["Title"] = Model.Name;
}

<form asp-controller="Shelter" asp-action="DoEdit">
    <input asp-for="Id" type="hidden">
    <!-- Show the name -->
    <input type="text" name="name" value=@Model.Name>
    <input type="submit" value="Edit">
</form>