@model ShelterMvc.Models.ShelterIndexModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Animal List (harcoded):</h1>
    <ul>
        <li>
            @Model.Animals 
        </li>
    </ul>
</div>
