@model Shelter.shared.Shelter;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Animal List:</h1>
    <ul>
        @foreach (var animal in Model.Animals)
        {
        <li>
            @animal.name
        </li>
        }
        
    </ul>
</div>
