@model Shelter.shared.Shelter;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Animal List:</h1>
    <ul>
        @foreach (var animal in Model.Animals)
        {
        <li>
            @animal.Name
            <a asp-controller="Shelter" asp-action="Detail" asp-route-id=@animal.Id>Detail</a>
            <a asp-controller="Shelter" asp-action="Delete" asp-route-id=@animal.Id>Delete</a>
        </li>
        }
        
    </ul>
</div>
